body {
  background-color: whitesmoke;
  font-family: sans-serif;
  margin: 0px;
}

#app{
  height: 100vh;
}
.mainDiv{
  display: flex;
  height: 100%;
  flex-direction: column;
}

.categories {
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
}

.menuItems{
  display: flex;
  flex-wrap : wrap;
  overflow-Y: auto;
  height: 29%;
}

.orders{
  margin: 5px;
  height: 42%;
  overflow-x: auto;
}

.commands{
  padding:5px;
}

.commandButton div div{
  padding: 0 6px;
}

.totals{
  margin: 5px;
}

.menuButton {
  width: 31%;
  margin: 3px;
}

.menuButton div{
  height: 100%;
}

.menuButtonContent{
  height: 100%;
}

.order{
  display: flex;
  margin: 10px;
}

.orderQuantity{
  width: 10%;
}

.orderName{
  width: 60%;
}

.orderPrice{
  width: 30%;
  text-align: right;
}

.orderPriceTag{
  font-size: 0.65em;
  margin: 0px 5px; 
}

.ticketTotal{
  
}

.ticketTotalLabel{
  flex-grow: 1;
}

.ticketTags{
  padding: 5px 10px;
  font-size: 0.75em;
  background-color: lightyellow;
}

.totals{
  padding: 0 5px;
  display: flex;
  font-size: 2em;
  font-weight: bold;  
}

.mrkdwn p {
  margin: 0;
}