body {
  background-color: whitesmoke;
  font-family: sans-serif;
  margin: 0px;
  overflow-y: hidden;
}

#app{
  height: 100vh;
  -moz-user-select: none; 
  -webkit-user-select: none; 
  -ms-user-select:none; 
  user-select:none;
  -o-user-select:none;
}

.mainBody{
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y:auto;
}

@media (min-width: 480px) {
    .mainBody{
      flex-direction: row-reverse;
    }
	}


.mainDiv{
  display: flex;
  height: 100%;
  flex-direction: column;
  overflow: hidden;
}

.menu {
  flex:1;
  display: flex;
  flex-direction: column;
  margin:4px 0px;
}

@media (min-width: 480px) {
    .menu{
      width: 40%;
      flex-direction: row;
    }
	}

@media (min-width: 640px) {
    .menu{
      width: 50%;
      margin-left: 10px;
    }
	}

  @media (min-width: 800px) {
    .menu{
      flex:1.3;
    }
	}

.orders{
  flex:1;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 4px 0px;
}

.myTickets{
  flex:1;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 4px 0px;
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
}

.myListTicketNumber{
  font-weight: bold;
  flex:1;
  margin-right: 30px;
}

.myListEntity{
  flex:1 1 50%;
}

.myListRemaining{
  flex: 1 1 30%;
  font-size:1.1em;
  text-align: right;
}

.categories {
  white-space: nowrap;
  overflow-x: auto;
  margin: 1px;
}

@media (min-width: 480px) {
    .categories{
      width: 50%;
      white-space: normal;
      display: flex;
      flex-direction: column;
    }
	}

  @media (min-width: 640px) {
    .categories{
      width: 40%;
    }
	}

  @media (min-width: 800px) {
    .categories{
      width: 30%;
    }
	}

.categoryButton{
  margin: 4px;
  flex: 1;
}

.menuItems{
  display: flex;
  flex-wrap : wrap;
  overflow-y: auto;
  margin: 1px;
  flex:1;
}

.commands{
  padding:0px;
}

.commandButton{
  margin:4px;
}

.totals{
  margin: 5px;
}

.flexButton {
  flex: 1 1 40%;
  margin: 4px;
  font-size: 1em;
  display: flex;
}

.flexButton p{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

/*.menuButton p{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}*/

.orderContent{
  margin: 6px 0;
}

.order{
  display: flex;
}

.orderQuantity{
  width: 10%;
}

.orderName{
  width: 90%;
}

.orderPrice{
  width: 30%;
  text-align: right;
}

.orderPriceTag{
  font-size: 0.65em;
  margin: 0px 5px; 
}

.selectedOrderTags{
  margin-top: 8px;
  display: flex;
  flex-wrap: wrap;
  line-height: initial;
  font-size:initial;
}

.selectedOrderTag{
  margin: 3px;
  padding: 2px;
  border-radius: 2px;
  border: 1px gray solid;
  background: lightgray;
  font-size: 0.75em;
}

.orderTagSection{
  margin-right: 2px;
  margin-left: 2px;
}

.ticketTotal{
  
}

.ticketTotalLabel{
  flex-grow: 1;
}

.ticketTags{
  padding: 5px 10px;
  font-size: 0.75em;
  background-color: lightyellow;
}

.totals{
  padding: 0 5px;
  display: flex;
  font-size: 2em;
  font-weight: bold;  
}

.portions{
  margin-top:15px;
  display: flex;
  flex-wrap: wrap;
}

.portionButton{
  flex: 1 1 10%;
  margin: 4px;
  display: flex;
}

.orderTagGroup{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.orderTagButton p{
  line-height: 2rem;
}

.ticketTag{
  margin: 4px;
}

.entityList{
  display: flex;
  flex-wrap: wrap;
  overflow-y: auto;
  height: 100vh;
}

.mrkdwn p {
  margin: 0;
}

.buttonContent p {
    word-break: normal;
    white-space: normal;
    line-height: 2rem;
    font-size: 1.1em;
}

@media (min-width: 800px) {
  .buttonContent p {
    font-size: 1.3em;
    line-height: 2.6rem;
  }
}